{% extends 'base.html' %}

<!doctype html>
<title>Deadline {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% block content %}
<nav>
  <h1>Deadline</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['email'] }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('signup') }}">Sign up</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<br></br>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
</section>

{% include "landing.html" %}

{% endblock %}

