{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %} - Status{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- <h1 class="mt-3">Hi, {{ nickname }}. This is your status page!</h1>
    <h2>Group: {{ group }}</h2> -->
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>


    <div class="mt-5 mb-5 row">

      <div class="col-md-4">
        <div style="width: 90%; height: 100%;" class="card text-dark mx-auto d-block">
          <!-- <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg" alt="Bologna"> -->
          <div class="card-body text-center">
            <img style="border: 0.3rem solid rgba(#000, 0.3); max-width: 7rem;" class="profile avatar rounded-circle" src="https://static.thenounproject.com/png/11112-200.png" alt="Bologna">
            <h4 class="card-title">{{ nickname }}</h4>
            <h5 class="card-subtitle">{{ group }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Member</h6>
            <!-- <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age. </p>
            <a href="#" class="btn btn-info">Follow</a>
            <a href="#" class="btn btn-outline-info">Message</a> -->
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-8">
        <h2 class="mb-4 text-center">Faction Resources</h2>
        <div class="row text-center">
          <div class="col-md-4">
            <p>Water</p>
            <img class="mb-3 mx-auto d-block" style="max-width: 5rem;" src="https://image.flaticon.com/icons/svg/2665/2665718.svg">
            <p id='water'>{{ water }}</p>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-4">
            <p>Food</p>
            <img class="mb-3 mx-auto d-block" style="max-width: 5rem;" src="https://image.flaticon.com/icons/svg/135/135687.svg">
            <p id='food'>{{ food }}</p>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-4">
            <p>Metal</p>
            <img class="mb-3 mx-auto d-block" style="max-width: 5rem;" src="https://image.flaticon.com/icons/svg/891/891195.svg">
            <p id='metal'>{{ metal }}</p>
          </div>
          <!-- /.col-md-6 -->
       </div>
       <!-- /.row -->
      </div>
      <!-- /.col-md-6 -->
   </div>


    <!-- <br>
    <div id='resources'>
      <h2>Resources:</h2>
      <p id='water'>Water: {{ water }}</p>
      <p id='food'>Food: {{ food }}</p>
      <p id='metal'>Metal: {{ metal }}</p>
    </div>
    <br> -->

    {% include "tasks.html" %}

    <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
  {% endblock %}
